/* Background for movie theater feel */
body, html {
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

/* Navigation Bar Styling */
.navbar {
    margin-bottom: 20px;
    border-radius: 0;
}

/* Title Styling */
.title {
    color: #E50914;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

/* Movie Card Styling */
.movie-card {
    background-color: #333333;
    color: #ffffff;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

/* Movie Card Hover Effect */
.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    height: 400px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title, .card-text {
    color: #ffffff;
}

/* Buttons Styling */
.btn-primary {
    background-color: #E50914;
    border-color: #E50914;
}

.btn-primary:hover {
    background-color: #ff2211;
    border-color: #ff2211;
}

/* Pagination Styling */
.pagination {
    justify-content: center;
}

.pagination li a {
    color: #E50914;
}

.pagination .active a {
    background-color: #E50914 !important;
    border-color: #E50914 !important;
}

/* Search Form Styling */
.search-form input[type="text"] {
    width: calc(100% - 90px);
}

.search-form button {
    width: 90px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .movie-card img {
        height: auto;
    }
}